*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #272727;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-body{
    display: flex;
    justify-content: space-between;
}